@model Virtumart_MVC_3.Models.Admin

@using (Html.BeginForm("Index", "AdminLogin", FormMethod.Post))
{
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm">
                    <div class="card-body">

                        <h4 class="card-title text-center mb-4">Admin Login</h4>

                        <div class="mb-3">
                            <label for="username" class="form-label">Username</label>
                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @required = "required", @placeholder = "Enter the Username" })
                        </div>
                        
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "required", @placeholder = "Enter your Password" })
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </div>
                </div>
                @if (ViewBag.Message != null)
                {
                    <div class="alert alert-info text-center" role="alert">
                        @ViewBag.Message
                    </div>

                    @if (ViewBag.Message == "Login Sucessful Redirecting.....")
                    {
                        <script>
                            setTimeout(function () {
                                window.location.href = '/Home/Index';
                            }, 3000);
                        </script>
                    } 
                }
            </div>
        </div>
    </div>
}