@model IEnumerable<Virtumart_MVC_3.Models.Product>

@{
    ViewData["Title"] = "Home";
}

<div class="container text-center mt-5">
    <h1>Welcome to VirtuMart!</h1>
    <p class="lead mt-3">
        Your gateway to the ultimate AR shopping experience. Browse products, interact in 3D, and make smarter decisions.
    </p>

    <div class="container mt-3">
        <div id="GFG" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                <li data-target="#GFG" data-slide-to="0" class="active"></li>
                <li data-target="#GFG" data-slide-to="1"></li>
                <li data-target="#GFG" data-slide-to="2"></li>
            </ul>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/ad1.jpg" class="d-block w-100"
                         alt="ad1">
                </div>
                <div class="carousel-item">
                    <img src="~/img/ad2.png" class="d-block w-100"
                         alt="ad2">
                </div>
                <div class="carousel-item">
                    <img src="~/img/ad3.jpg" class="d-block w-100"
                         alt="ad3">
                </div>
            </div>
            <a class="carousel-control-prev"
               href="#GFG"
               data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next"
               href="#GFG"
               data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Our Products</h2>
        @Html.Partial("_ProductCards", Model)
    </div>


</div>

