@model IEnumerable<Virtumart_MVC_3.Models.IProduct>

@{
    ViewData["Title"] = "Home";
}

<div id="GFG" class="carousel slide" data-ride="carousel">





    <a asp-area="" asp-controller="Product" asp-action="ICreate">ICreate</a>

    <div class="container text-center mt-5">
    <h1>Welcome to VirtuMart!</h1>
    <p class="lead mt-3">
        Your gateway to the ultimate AR shopping experience. Browse products, interact in 3D, and make smarter decisions.
    </p>

    <div class="container mt-3">
        </div>
    </div>

    <div class="container mt-5">
        <h2 class="text-center mb-4">Our Products</h2>
        @Html.Partial("_ProductCards", Model)
    </div>

</div>

